<!DOCTYPE html>
<html>
<head>
  <title>Marketnauts</title>

  <script type="text/javascript">
    <% if current_user.nil? %>
      var currentUser = null;
    <% else %>
      var currentUser = <%= current_user_serialized.to_json.html_safe %>;
    <% end %>
  </script>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
